.header {
  width: 100%;
  margin: auto;

  &__nav {
    width: 1150px;
    height: 120px;
    margin: 0 auto;

    &__logo{
      width: 200px;
      height: auto;
      margin:30px 0 0 ;
      display: inline;
    }
    &__items{
      display: inline;
      margin-left: 355px ;
    }
    &__item{
      display: inline;
      margin: 0 20px;
      &__link{
        list-style: none;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.page__slider{
  width: 100%;
  display: block;

  &__img{
    width: 100%;
  }
}
.header__slider {
  &__title {
    margin-top: -600px;
    z-index: 1;
    color: #f87603;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 300;
  }
}


  @import "reset.css";
