.header{
 &__nav{
   width: 1200px;
   height: 100px;
   margin: auto;
 }
  &__logo{
    width: 200px;
    float: left;
    vertical-align: middle;

  }
}
.nav{
  &__menu{
    width: 800px;
    float: right;
    &__item{
      display: inline-block;
      float: right;
      list-style: none;
      margin: auto 20px;
    }
  }
}








@font-face {
  font-family:Picadilly;
}

.sub--heading{
  font-family: Picadilly sans-serif;
}